constitution_schema.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = element constitutiontext {constitution, amendments}
constitution = element constitution {(text | preamble | article | section )*}
amendments = element amendments {( text | preamble | bill_of_rights | amendment )*}
preamble = element preamble {(text |collective_sovereignty | separation_of_powers | eligibility | limits_of_power |consent_of_governed | power_of_president | natural_rights | justice | taxes | citizenship | purposes_of_law | legal_documents | bodies_of_government | government_officials | rationale | laws | amendment_connection )*}
article = element article {(text | section | collective_sovereignty | separation_of_powers | eligibility | limits_of_power |consent_of_governed | power_of_president | natural_rights | justice | taxes | citizenship | purposes_of_law | legal_documents | bodies_of_government | government_officials | rationale | laws | amendment_connection )*}
section = element section {(text |collective_sovereignty | separation_of_powers | eligibility | limits_of_power |consent_of_governed | power_of_president | natural_rights | justice | taxes | citizenship | purposes_of_law | legal_documents | bodies_of_government | government_officials | rationale | laws | amendment_connection )*}
bill_of_rights = element bill_of_rights {(text |amendment)+}
amendment = element amendment {(text | section |collective_sovereignty | separation_of_powers | eligibility | limits_of_power |consent_of_governed | power_of_president | natural_rights | justice | taxes | citizenship | purposes_of_law | legal_documents | bodies_of_government | government_officials | rationale | laws | amendment_connection )*}

consent_of_governed = element consent_of_governed {attribute type { "right_to_petition" | "elections" | "amendment_process" | "representative_government" | "laws_passed" | "popular_sovereignty"}, text}
inherent_rights = element natural_rights {attribute type { "life" | "liberty" | "pursuit_of_happiness" | "property" | "equality" | "freedom_of_speech" | "bear_arms" | "religion" | "voting"}, text}
#rights of the accused
criminal_justice = element justice {attribute type { "due_process" | "trial_by_jury" | "habeas_corpus" | "speedy_trial" | "cruel_and_unusual_punishment" | "double_jeopardy" | "self_incrimination" | "legal_representation" | "warrants" | "bail" }, text}
citizenship = element citizenship {attribute type { "naturalization" | "revocation" | "dual_citizenship" | "rights_of_citzens" }, text}
# should turn this into an attribute elsewhere separation_of_powers = element separation_of_powers {attribute type { "executive" | "legislative" | "judicial" }, text}
purposes_of_law = element purposes_of_law {attribute type {  "strengthen_previous_law" | "repeal_previous_law" | "set_criminal_code" }, text}
legal_documents = element legal_documents {attribute type { "constitutional" | "bill_of_rights" | "amendments" | "statutes" | "articles"},text}
legislative_body = element legislative_body {attribute type { "propose_laws" | "bicameral" | "amendment_process" | "representative_government" | "laws_passed" | "right_to_tax"}, text}
judicial_body = element judicial_body{attribute type { "court_hierarchy" | "overule" | "set_precedence"}, text}
executive_body = element executive_body {attribute type { "veto_power" | "appointment_power" | "pardon_power" | "presidential_limits" | "elected"}, text}
limits_of_power = element limits_of_power {attribute type { "rebellion" | "impeachment" | "fixed_terms" | "checks_and_balances"}, text}

# put eligibility under natural rights
# put citizenship under natural rights
# rationale, laws, and purposes of law together 
# bodies of government and government official together = government
# consent of governed attributes could fall under other ones 
# get rid of community in collective sov.
# separation of powers attributes can be under diff tags too


#collective_sovereignty #people, as the collective entity are the sole source of power in a society.
#seperation_of_powers #principle that divides the governement into three branches. executive. judicial. legislative
#eligibility #explicit requirement/qualified to participate in political processes. gender. race. age. nationality. residency_status
#limits_of_power #checks and parameters that limit the extent of the government's power. fixed_terms (of presidents). veto. impeachment. supreme_court_election.
#consent_of_governed #mentions of general public explicitly sanctioning government's reach. elections. right_to_petition. amendment_process. representative_government
#power_of_president #the degree of control that the president (or King) has over their people. commander_in_chief (of military). executive_orders.  veto_power. appointment_power. pardon_power.
#natural_rights #the rights everyone in a society is automatically granted/implicitly has. life. liberty. pursuit_of_happiness. property. equality. self_governance. freedom_of_speech. bare_arms.
#justice #mentions of how crimes will be abjudicated. due_process. trial_by_jury. habeas_corpus. speedy_trial. cruel_and_unusual_punishment. double_jeopardy. self_incrimination. legal_representation. warrants.
#taxes #types of tax, right of government to tax, consent to tax.
#citizenship #how citizenship is granted or revoked. procedure. 
